    #header-img {
        width: 50px;
        height: 50px;
        margin-left: 40px;
    }
    
    .nav-link {
        position: relative;
        left: 140%;
        margin-right: 60px;
    }
    
    .navbar-brand {
        margin-left: 20px;
    }
    
    h4 {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
    }
    
    #userInput,
    #submitButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    #email,
    #submit {
        border-radius: 4px;
    }
    
    #submit {
        background-color: #FFC700;
    }