        #header-img {
            width: 60px;
            height: 50px;
            margin-left: 40px;
        }
        
        h4 {
            font-weight: bold;
            text-align: center;
        }
        
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }
        
        .nav-link {
            position: relative;
            left: 100%;
            margin-right: 60px;
        }
        
        .navbar-brand {
            margin-left: 20px;
        }
        
        #catchword {
            margin-top: 100px;
            text-align: center;
            font-weight: bold;
        }
        
        #userInput,
        #paragraph {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        
        #submitButton {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        
        #email,
        #submit {
            border-radius: 2px;
        }
        
        #submit {
            background-color: #FFC700;
            margin-bottom: 50px;
        }
        
        #icon {
            width: 100px;
            height: 100px;
        }
        
        #text {
            margin-left: 50px;
        }
        
        #video-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        
        #description {
            text-align: center;
            font-style: italic;
        }
        
        footer {
            text-align: right;
            background-color: #FFC700;
            height: 50px;
        }